/* CSS declarations go here */
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 24px;
  color: #34495e;
}

h1 u {
  font-weight: 100;
  font-size: 24px;
  color: #7f8c8d;
  text-decoration: none;
  cursor: pointer;
}

h1 u:hover {
  font-weight: 100;
  font-size: 24px;
  color: #34495e;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  color: #7f8c8d;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  color: #7f8c8d;
}

.container {
  display: flex;
  justify-content:center;
  align-items:  center;
  flex-direction: column;
  width: 100%;
}

.top {
  max-width: 600px;
  min-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: #ecf0f1;
  max-height: 450px;
  min-height: 450px;
  width: 100%;
}

.bottom {
  display: none;
  max-width: 600px;
  min-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.button-begin {
  position: absolute;
  right: 0;
  bottom: 10px;
  border: 1px solid #bdc3c7;
}

.button-next {
  position: absolute;
  right: 0;
  bottom: 50%;
  border: 1px solid #bdc3c7;
}

paper-button:hover {
  background: #ecf0f1;
}

.image {
  display: none;
  background: #ecf0f1;
  max-width: 400px;
  min-width: 400px;
  max-height: 400px;
  min-height: 400px;
  background-image: url("demo.png");
}

.tiny-dot {
  display: none;
  background: rebeccapurple;
  border: 1px solid #9b59b6;
  box-shadow: 0px 0px 6px #424242;
  min-width:  12px;
  min-height: 12px;
  max-width:  12px;
  max-height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
}

paper-radio-button {
  padding-top: 20px;
  color: #424242;
}

.chart-dummy {
  width: 400px;
}
